@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any custom imports after Tailwind directives */
/* @import "tw-animate-css"; */

body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Giaza';
  src: url('/fonts/Giaza.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-giaza: 'Giaza', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}
